<!-- <div class="col-md-6">
	<p>I to the world am like a drop of water</p>
	<p>That in the ocean seeks another drop,</p>
	<p>Who, falling there to find his fellow forth</p>
	<p>(unseen, inquisitive), confounds himself.</p>
	<p><i>- William Shakespeare, "A Comedy of Errors"</i></p>
</div> -->

<div class="row">
	<div class="col-md-6 errors">
	<h1>The Database of Errors</h1>
	<p>Have a weird error? Let me know!</p>
	</div>
	<div class="col-md-6">
		<%= image_tag "cool-blue-shakespeare.png", width: "100%", class: "img-responsive" %>
	</div>
</div>